
:root{
    --primary:#FF5003;
    --bgSecondary:#e6dbdb;
    --dark:#000000;
    --ligth:#fff;
    --bgp1:#000000
}

body{
    overflow: hidden;
    font-family: proximanova,arial,sans-serif;
    font-weight: 300;
    background: 100%;
    color: var(--primary);
}

#sidebar-container{
    min-height: 100vh;
}
#sidebar-container.logo{
    padding: 875rem 1.25rem;
}
#sidebar-container.menu{
    width: 18rem;
}
.bg-primary{
    background-color: var(--primary) !important;
}

.bg-color-p1{
    background-color: var(--bgp1) !important;
}

.text-primary{
    color:var(--primary) !important;
}
.btn-primary{
    background-color: var(--primary);
    border-color:var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
}
.btn-search{
    right: 5px;
    border-radius: 20px;
}
.avatar{
    max-width: 35px;
}
.barra-lateral .menu {
    border-top: 5px #fff solid;
}

.barra-lateral .menu a i {
    margin-right: 20px;
}
#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    
}
@media (max-width:1920px){
    .container-mobile{
        max-width: 95%;
    }
}
.stat{
    border-right: 1px solid var(--primary);
}
.bg-mix{
    background: linear-gradient(100deg, var(--light) 50%,var(--bgSecondary) 0);
}
.bg-grey{
    background-color: var(--bgSecondary) !important;
}
.boton1:hover{
    background:red;

}