<div>
<div class="d-flex">
    <app-sidebar-dashboboard></app-sidebar-dashboboard>
    <div class="w-100">
        <app-navbar-dashboard></app-navbar-dashboard>


      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>