<div id="content">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="fw-bold mb-0 ">Los mejores Videojuegos en oferta </h1>
            <p class="lead text-dark">Revisa la ultimas Ofertas y descuentos Aqui</p>

          </div>
          <div class="col-lg-3">

          </div>

        </div>

      </div>
      <div class="">
        <h3 class="pb-4 mb-4 fst-italic  text-center fw-bold">
          Ofertas de Navidad
        </h3>
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><i
                    class="fab fa-playstation fa-1x me-2 text-primary"></i>Play Station</strong>
                <h3 class="mb-0 text-dark">HALO INFINTE</h3>
                <div class="mb-1 text-muted">35.55$</div>
                <p class="card-text mb-auto">¡Está de vuelta! Siguiendo a los eventos de Halo 5,
                  este juego retoma la historia de Master Chief, el protagonista, y esta vez lo transporta
                  al pasado dotándolo de una nueva armadura que es un guiño nostálgico.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <span class="badge bg-success ">15% de
                    descuento</span>
                </div>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/Halo.jpg" role="img"
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><i
                    class="fab fa-xbox fa-1x me-2 text-primary"></i>X Box</strong>
                <h3 class="mb-0 text-dark">UNO</h3>
                <div class="mb-1 text-muted">10 $</div>
                <p class="mb-auto">UNO, el clásico juego de la infancia que nos encantaba a todos, vuelve a nuestras
                  vidas con una gran cantidad de características nuevas, ¡como chat de vídeo y un nuevo sistema
                  temático que lo hace mucho más divertido!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <span class="badge bg-success ">20% de
                    descuento</span>
                </div>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/UNO.jpg" role="img"
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              

              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><i
                    class="fab fa-playstation fa-1x me-2 text-primary"></i>Play Station</strong>
                <h3 class="mb-0 text-dark">Monopoly Plus</h3>
                <div class="mb-1 text-muted">20 $</div>
                <p class="card-text mb-auto">Una auténtica ciudad en 3D en el centro del tablero vive y evoluciona a
                  medida que juegas. Posees un mundo en miniatura en el que cada barrio tiene su propia identidad y
                  características donde todo cobra vida.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <span class="badge bg-success ">80% de
                    descuento</span>
                </div>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/Monopoly.jpg"
                  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                  focusable="false">
               

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><i
                    class="fab fa-xbox fa-1x me-2 text-primary"></i>X Box</strong>
                <h3 class="mb-0 text-dark">Dead by Daylight</h3>
                <div class="mb-1 text-muted">15 $</div>
                <p class="mb-auto">Cuatro jugadores en línea unen sus fuerzas contra un único asesino, el cual es
                  controlado por un jugador que también está línea. Así que puedes ser el asesino o puedes ser uno
                  de los cuatro que trabajan en su contra.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <span class="badge bg-success ">70% de
                    descuento</span>
                </div>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/DBD.jpg" role="img"
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                

              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><i
                    class="fab fa-playstation fa-1x me-2 text-primary"></i>Play Station</strong>
                <h3 class="mb-0 text-dark">Red D. Redemption</h3>
                <div class="mb-1 text-muted">50 $</div>
                <p class="card-text mb-auto">Es un juego de acción y aventuras de mundo abierto en el que el jugador
                  puede vagar libremente. Cuenta algunos elementos en tercera persona, además de otras modalidades
                  de juego en primera persona.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <span class="badge bg-success ">36% de
                    descuento</span>
                </div>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/RDMD.jpg" role="img"
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
               

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><i
                    class="fab fa-xbox fa-1x me-2 text-primary"></i>X Box</strong>
                <h3 class="mb-0 text-dark">Monster Hunter</h3>
                <div class="mb-1 text-muted">40 $</div>
                <p class="mb-auto">¡Nueva aventura en la segunda entrega de esta serie de juegos de rol por turnos
                  ambientada en el mundo de Monster Hunter! Conviértete en un Rider y únete a monstruos amistosos
                  embarcándote en una historia épica.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <span class="badge bg-success ">13% de
                    descuento</span>
                </div>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/Monsterhunter.jpg"
                  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                  focusable="false">
             

              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/4rKFkLeRF3Q" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <footer class="bg-light text-center text-white">

                <div class="container p-4 pb-0">
                  <h1 class="text-dark fs-4">Redes sociales</h1>
                  <div class="mb-4">
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #3b5998; border-radius: 20px; border-color:#3b5998 ;" href="#!"
                      role="button"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #55acee; border-radius: 20px; border-color: #55acee;" href="#!"
                      role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #dd4b39; border-radius: 20px; border-color:#dd4b39 ;" href="#!"
                      role="button"><i class="fab fa-google"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #ac2bac; border-radius: 20px; border-color:#ac2bac ;" href="#!"
                      role="button"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #0082ca; border-radius: 20px; border-color: #0082ca;" href="#!"
                      role="button"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-floating mb-1"
                      style="background-color: #333333; border-radius: 20px; border-color:#333333 ;" href="#!"
                      role="button"><i class="fab fa-github"></i></a>
                  </div>

                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
