<nav class="navbar navbar-expand-lg navbar-collapse bg-color-p1 position-absolute w-100">
    <div class="container container-mobile">
        <div class="content mx-auto px-1 my-1 me-3 align-self-center">
            <img src="/assets/images/Control2.png" width="100" height="100" alt="" class="img-fluid">
        </div>
        <a class="navbar-brand fw-bold  fa-2x" href="./index.html"><small class="text-primary">STORE<p
                    class="fs-6 text-primary">GAMING</p></small> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars fa-2x text-primary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown d-flex">
                    <a class="nav-link dropdown-toggle text-light align-self-center" aria-current="page" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-desktop fa-1x me-2 text-primary"></i>PC
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="opacity: 0.8;">
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/Steam.png" alt="" width="20"
                                    height="20" class="me-2">Steam</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/origin.png" alt="" width="20"
                                    height="20" class="me-2">Origin </a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/Epic.png" alt="" width="20"
                                    height="20" class="me-2">Epic </a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/rockstar.png" alt="" width="20"
                                    height="20" class="me-2">Rockstar </a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/ubisoft.png" alt="" width="20"
                                    height="20" class="me-2">Ubisoft </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/wow.png" alt="" width="20"
                                    height="20" class="me-2">World of Warcraft</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown d-flex">
                    <a class="nav-link dropdown-toggle text-light align-self-center" aria-current="page" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fab fa-playstation fa-1x me-2 text-primary"></i>Playstation
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="opacity: 0.8;">
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/ps.png" alt="" width="20"
                                    height="20" class="me-2">Playstation3</a></li>
                        <li><a class="dropdown-item" href="#"><img src="./assets/images/ps.png" alt="" width="20"
                                    height="20" class="me-2">Playstation4</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/ps.png" alt="" width="20"
                                    height="20" class="me-2">Playstation5</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/tarjeta ps.png" alt=""
                                    width="20" height="20" class="me-2">Tarjetas de recarga</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown d-flex">
                    <a class="nav-link dropdown-toggle text-light align-self-center" aria-current="page" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fab fa-xbox fa-1x me-2 text-primary"></i>Xbox
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="opacity: 0.8;">
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/Xbox.png" alt="" width="20"
                                    height="20" class="me-2">Xbox 360</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/Xbox.png" alt="" width="20"
                                    height="20" class="me-2">Xbox One</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/gamepass.png" alt="" width="20"
                                    height="20" class="me-2">Xbox Game Pass</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown d-flex">
                    <a class="nav-link dropdown-toggle text-light align-self-center" aria-current="page" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-mobile-alt fa-1x me-2 text-primary"></i>Mobile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="opacity: 0.8;">
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/Android.png" alt="" width="20"
                                    height="20" class="me-2">Android</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/Ios.png" alt="" width="20"
                                    height="20" class="me-2">IOS</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/google-play.png" alt=""
                                    width="20" height="20" class="me-2">Tarjetas Google Play</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/assets/images/Itunes.png" alt="" width="20"
                                    height="20" class="me-2">Tarjetas iTunes</a></li>
                    </ul>
                </li>
                <a routerLink="/auth/login" class="  btn-outline-light d-block p-3 text-primary text-decoration-none border-0 ">Iniciar Sesion</a>
                <a href="" class="  btn-outline-light d-block p-3 text-primary text-decoration-none border-0 ">Registrarse</a>
              
        
  
