
    <div class="row g-0 bg-color-p1">
      <div class="col-lg-7">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner ">
            <div class="carousel-item img-1 min-vh-100 active">
              <div class="carousel-caption d-none d-md-block">
                <h5>Mejores Precios del Mercado</h5>
                <a href="" class=" form-text text-muted text-decoration-none  text-dark">Ofertas nuevas</a>
              </div>
            </div>
            <div class="carousel-item img-2 min-vh-100 ">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-primary fw-bold">Rapido y Seguro</h5>
                <p class=" text-primary ">Confia en nosotros </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-5 d-flex flex-column aling-items-end min-vh-100 ">
        <div class="text-center w-100 mb-auto">
          <img src="../assets/images/Control2.png" width="100" height="100" alt="" class="img-fluid">
          <a class="navbar-brand fw-bold  " href="../index.html"><small class="text-primary fs-3">STORE GAMING</small>
          </a>
        </div>
        <div class="px-lg-5 py-lg-4 p4 w-100 align-self-center">
          <h1 class="text-light text-center fw-bold me-2">Bienvenido</h1>
          <form class="mb-5" method="GET" action="/Diseño puro html-css-boostrap5/Dashboard/layout.html">
            <div class="mb-4">
              <label for="exampleInputEmail1" class="form-label fw-bold text-primary">Email </label>
              <input type="email" class="form-control" name="correo" placeholder="Ingresa tu Email"
                id="exampleInputEmail1" aria-describedby="emailHelp" style="border-color:#FF5003; border-radius: 20px;"
                required>
            </div>
            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label fw-bold text-primary">Contraseña</label>
              <input type="password" class="form-control mb-2" name="Contraseña" placeholder="Ingresa tu Contraseña"
                id="exampleInputPassword1" style="border-color:#FF5003; border-radius: 20px; " required>
              <a href="#" id="emailHelp" class="form-text text-muted text-decoration-none">¿Has olvidado tu
                contraseña?</a>
            </div>
            <!--<button type="submit" class="btn btn-primary w-100 ">Iniciar Sesión</button> -->
              <a type="submit" class="btn btn-primary w-100 " routerLink="/dashboard/home">Iniciar Sesión</a>
          </form>
          <p class="fw-bold text-center text-primary">O inicia sesión con</p>
          <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-outline-light flex-grow-1 me-3"><i
                class="fab fa-facebook-f me-3 text-primary"></i>Google</button>
            <button type="submit" class="btn btn-outline-light flex-grow-1 ml-3"><i
                class="fab fa-google me-3 text-primary"></i>Facebook</button>
          </div>
        </div>
        <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 w-100 mb-auto ">
          <p class="d-inline-block mb-0 me-3 text-light">Todavia no tienes cuenta?</p><a href=""
            class="text-primary fw-bold text-decoration-none">Crea una aqui</a>
        </div>
      </div>
    </div>

