<section class="py-3 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h1 class="fw-bold mb-0">Bienvenido Edwin</h1>
          <p class="lead text-dark">Revisa la ultima información</p>

        </div>
        <div class="col-lg-3">

        </div>

      </div>

    </div>          
        <div class="p-4 p-md-5 mb-4 text-white rounded "
          style="background-image:url('../assets/images/F6.jpg'); background-repeat: no-repeat; background-size: cover;">
          <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic ">FAR CRY 6</h1>
            <p class="lead my-3 ">Far Cry 6 para PC está ambientado en la ficticia isla caribeña de Yara, un
              shooter
              en primera persona de mundo abierto (más o menos). El juego cuenta con el mapa de Far Cry más grande
              hasta la fecha, que puedes cruzar a pie o en una gama muy diversa de vehículos. Gracias a los
              decididos
              esfuerzos de El Presidente, el paraíso tropical está congelado en el tiempo. Esto es para evitar que
              la
              población obtenga ideas sobre la independencia y las elecciones libres y justas y otras tonterías,
              por
              supuesto ....</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Realiza tu compra...</a></p>
          </div>
        </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><i
                class="fab fa-playstation fa-1x me-2 text-primary"></i>Play Station</strong>
            <h3 class="mb-0 text-dark">God of war ragnarok</h3>
            <div class="mb-1 text-muted">2022</div>
            <p class="card-text mb-auto">God of War: Ragnarok fue anunciado el 16 de septiembre de 2020, así que
              esperarlo antes de que se cumpla un año de su presentación parece una ilusión desmedida. No lo
              veremos asomar por PS5 hasta 2022.</p>
            <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/god of war.jpg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><i class="fab fa-xbox fa-1x me-2 text-primary"></i>X
              Box</strong>
            <h3 class="mb-0 text-dark">Elden Ring</h3>
            <div class="mb-1 text-muted">2022</div>
            <p class="mb-auto">Elden Ring es el nuevo videojuego de FromSoftware, creadores de Dark Souls, Sekiro
              o Bloodborne. Se trata del nuevo título de acción y rol para un jugador que en esta ocasión,
              estrenará un mundo abierto más grande.</p>
            <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="300" src="../assets/images/elden ring.jpg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            

          </div>
        </div>
      </div>
    </div>
    <div class="container bg-grey">
      <h3 class="pb-4 mb-4 fst-italic border-bottom text-center fw-bold">
        JUEGOS NUEVOS
      </h3>

      <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        <div class="col">
          <div class="card shadow-sm">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/o1igaMv46SY" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title fw-bold">FIFA 22</h5>
              <p class="card-text text-dark">FIFA  para PC es el trigésimo lanzamiento de la franquicia de la
                popular serie de videojuegos de simulación de fútbol,</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i
                      class="fas fa-shopping-cart fa-1x"></i></button>
                </div>
                <small class="text-muted">40$</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/nHifVP0kbAk" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title fw-bold">Hot Wheels Unleashed</h5>
              <p class="card-text text-dark">Colecciona los mejores vehículos, construye pistas espectaculares y
                lánzate a las carreras más electrizantes.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i
                      class="fas fa-shopping-cart fa-1x"></i></button>
                </div>
                <small class="text-muted">20$</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/ASzOzrB-a9E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title fw-bold">BATTLEFIELD 2042</h5>
              <p class="card-text text-dark">La guerra finalmente estalla en 2042, justo a tiempo para que vengas
                a salvar el día. O por lo menos intentarlo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i
                      class="fas fa-shopping-cart fa-1x"></i></button>
                </div>
                <small class="text-muted">45.99$</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/FYH9n37B7Yw" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title fw-bold">Forza Horizon 5</h5>
              <p class="card-text text-dark">Tu aventura definitiva en Horizon te espera! Explora paisajes
                dinámicos y en constante evolución del mundo abierto del pais de Mexico.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i
                      class="fas fa-shopping-cart fa-1x"></i></button>
                </div>
                <small class="text-muted">80$</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/m1C5dLnvlzg" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title fw-bold">NEW WORLD</h5>
              <p class="card-text text-dark">El destino te ha convocado a las costas de Aetérnum, la Isla Eterna.
                Derrota a las brutales legiones de los corruptos y prepárate para el enfrentamiento.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i
                      class="fas fa-shopping-cart fa-1x"></i></button>
                </div>
                <small class="text-muted">43.99$</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/kH2Mrz25Opk" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title fw-bold">World War Z: Aftermath Deluxe Edition</h5>
              <p class="card-text text-dark">World War Z: Aftermath es el shooter cooperativo de zombis definitivo
                y el siguiente paso de World War Z.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i
                      class="fas fa-shopping-cart fa-1x"></i></button>
                </div>
                <small class="text-muted">35$</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm my-3">
          <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
            src="https://www.youtube.com/embed/tSDMwngdkF4" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="card-body">
            <footer class="bg-light text-center text-white">

              <div class="container p-4 pb-0">
                <h1 class="text-dark fs-4">Redes sociales</h1>
                <div class="mb-4">
                  <a class="btn btn-primary btn-floating m-1"
                    style="background-color: #3b5998; border-radius: 20px; border-color:#3b5998 ;" href="#!"
                    role="button"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-primary btn-floating m-1"
                    style="background-color: #55acee; border-radius: 20px; border-color: #55acee;" href="#!"
                    role="button"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-primary btn-floating m-1"
                    style="background-color: #dd4b39; border-radius: 20px; border-color:#dd4b39 ;" href="#!"
                    role="button"><i class="fab fa-google"></i></a>
                  <a class="btn btn-primary btn-floating m-1"
                    style="background-color: #ac2bac; border-radius: 20px; border-color:#ac2bac ;" href="#!"
                    role="button"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-primary btn-floating m-1"
                    style="background-color: #0082ca; border-radius: 20px; border-color: #0082ca;" href="#!"
                    role="button"><i class="fab fa-linkedin-in"></i></a>
                  <a class="btn btn-primary btn-floating mb-1"
                    style="background-color: #333333; border-radius: 20px; border-color:#333333 ;" href="#!"
                    role="button"><i class="fab fa-github"></i></a>
                </div>

              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
