
<div>
    <section id="content" class="d-flex "
    style="background-image:url('./assets/images/bg1.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container align-self-center">
      <div class="row">
        <div class="col-lg-6 d-flex" data-aos="fade-right" data-aos-delay="300">
          <div class="content mx-auto px-4 my-5 align-self-center">
            <img src="./assets/images/bg2.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 d-flex" data-aos="fade-left" data-aos-delay="300">
          <div class="align-self-center my-5 px-4">
            <h1 class="display-4 fw-bold mb-5 text-primary">¿Que ofrecemos como empresa?</h1>
            <ul class="list-unstyled">
              <li class="d-flex mb-4">
                <p class="text-primary lead fw-bold list-subject">1</p>
                <div class="ms-3">
                  <p class="lead fw-bold text-primary">Compra rapida y Segura</p>
                  <p class="text-light">Te ofrecemos realizar tu pago de la manera mas segura y confiable</p>
                </div>
              </li>
              <li class="d-flex mb-4">
                <p class="text-primary lead fw-bold list-subject">2</p>
                <div class="ms-3">
                  <p class="lead fw-bold text-primary">Mejores precios y Ofertas</p>
                  <p class="text-light">En STORE GAMING tenemos los mejores precios y ofertas del mercado son seguros y
                    legales. </p>
                </div>
              </li>
              <li class="d-flex mb-4">
                <p class="text-primary lead fw-bold list-subject">3</p>
                <div class="ms-3">
                  <p class="lead fw-bold text-primary">Atencion Rapida al cliente</p>
                  <p class="text-light">Realizamos las recargas al instante y si tiene alguna consulta o duda con gusto
                    le antenderemos.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex py-5 section-600"
    style="background-image:url('./assets/images/Hexagon.svg');background-repeat: no-repeat; background-size: cover;">
    <div class="container" data-aos="fade-up" data-aos-delay="200">
      <div class="info-content bg-color-p1 text-light">
        <div class="row">
          <div class="col-lg-7 d-flex">
            <div class="p-5 align-self-center">
              <h2 class="display-4 fw-bold mb-4 text-primary">¿Por que elegir STORE GAMING?</h2>
              <p class="lead">Somos una pequeña empresa donde manejamos los mejores precios del mercado con descuentos y
                atendemos de forma rapida y eficiente esperando que se sienta seguro con nosotros "EDWIN MIRANDA
                MARTINEZ"</p>
              <a href="" class="btn btn-primary">Ofertas nuevas</a>
            </div>
          </div>
          <div class="col-lg-5 d-flex">
            <div>
              <div id="carouselExampleControls" class="carousel slide align-self-center mx-auto p-5"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <img src="./assets/images/fdg.png" class="d-block w-100" alt="img-fluid">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/fdh.png" class="d-block w-100" alt="img-fluid">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex py-5 mb-5"
    style="background-image: url('./assets/images/bg3.svg'); background-repeat: no-repeat; background-size: cover; ;">
    <div class="container align-self-center">
      <h2 class="display-4 py-4 mb-1 fw-bold text-center">JUEGOS DEL MOMENTO</h2>
      <p class="lead mb-5">Aprobecha de las ofertas de los juegos mas cotizados hasta un 50% de descuento</p>

      <div class="row publications">
        <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
          <a href="#" class="text-decoration-none">
            <img src="./assets/images/pubg.png" alt="" class="img-fluid mb-4 bg-color-p1">
            <div class="d-flex mb-4 bg-color-p1" style="border-radius: 5px;">
              <p class="flex-grow-1 text-primary mb-0 fw-bold mb-0 fs-2 ">PUBG</p>
              <p class="text-primary mb-0">-20%</p>
            </div>
            <p class="lead text-dark fw-bold mb-4">Aprobecha el 20 % de descuento en el pase de batalla </p>
            <p class="text-primary fw-bold">Realizar compra <i class="fas fa-arrow-right ms-2"></i></p>
          </a>
        </div>
        <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
          <a href="#" class="text-decoration-none">
            <img src="./assets/images/Fort.png" alt="" class="img-fluid mb-4 bg-color-p1">
            <div class="d-flex mb-4 bg-color-p1" style="border-radius: 5px;">
              <p class="flex-grow-1 text-primary mb-0 fw-bold mb-0 fs-2">FORTNITE</p>
              <p class="mb-0 text-primary">-30%</p>
            </div>
            <p class="lead text-dark fw-bold mb-4 ">Aprobecha el 30% de descuento en skins y salvar al mundo </p>
            <p class="text-primary fw-bold">Realizar compra <i class="fas fa-arrow-right ms-2"></i></p>
          </a>
        </div>
        <div class="col-lg-4 py-4 " data-aos="zoom-in" data-aos-delay="300">
          <a href="#" class="text-decoration-none">
            <img src="./assets/images/Free.png" alt="" class="img-fluid mb-4 bg-color-p1">
            <div class="d-flex mb-4 bg-color-p1" style="border-radius: 5px;">
              <p class="flex-grow-1 text-primary mb-0 fw-bold mb-0 fs-2">FREE FIRE</p>
              <p class="text-primary mb-0">-15%</p>
            </div>
            <p class="lead text-dark fw-bold mb-4">Aprovecha el descuento del 15% en todas tus recargas</p>
            <p class="text-primary fw-bold">Realizar compra <i class="fas fa-arrow-right ms-2"></i></p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="d-flex py-5 mb-5"
    style="background-image: url('./assets/images/bg3.svg');background-repeat: no-repeat; background-size: cover;">
    <div class="container align-self-center">
      <div class="row publications">
        <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
          <a href="#" class="text-decoration-none">
            <img src="./assets/images/warzone.png" alt="" class="img-fluid mb-4 bg-color-p1">
            <div class="d-flex mb-4 bg-color-p1" style="border-radius: 5px;">
              <p class="flex-grow-1 text-primary mb-0 fw-bold mb-0 fs-3">COD WARZONE</p>
              <p class="text-primary mb-0">-5%</p>
            </div>
            <p class="lead text-dark fw-bold mb-4">Ahora puedes comprar paquetes de armas y el pase de batalla. </p>
            <p class="text-primary fw-bold">Realizar compra <i class="fas fa-arrow-right ms-2"></i></p>
          </a>
        </div>
        <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
          <a href="#" class="text-decoration-none">
            <img src="./assets/images/lol.png" alt="" class="img-fluid mb-4 bg-color-p1">
            <div class="d-flex mb-4 bg-color-p1" style="border-radius: 5px;">
              <p class="flex-grow-1 text-primary mb-0 fw-bold mb-0 fs-3">LEAGUE OF LEGENDS</p>
              <p class="text-primary mb-0">-15%</p>
            </div>
            <p class="lead text-dark fw-bold mb-4">Compra tus RP de forma segura y tambien el pase de batalla de TFT.
            </p>
            <p class="text-primary fw-bold">Realizar compra <i class="fas fa-arrow-right ms-2"></i></p>
          </a>
        </div>
        <div class="col-lg-4 py-4 " data-aos="zoom-in" data-aos-delay="300">
          <a href="#" class="text-decoration-none">
            <img src="./assets/images/wo.png" alt="" class="img-fluid mb-4 bg-color-p1">
            <div class="d-flex mb-4 bg-color-p1" style="border-radius: 5px;">
              <p class="flex-grow-1 text-primary fw-bold mb-0 fs-3">WORLD OF WARCRAFT</p>
              <p class="text-primary mb-0">-5%</p>
            </div>
            <p class="lead text-dark fw-bold mb-4">Realiza tu compra de tu suscripcion mensual.</p>
            <p class="text-primary fw-bold">Realizar compra <i class="fas fa-arrow-right ms-2"></i></p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex pt-5 pb-5 h-100"
    style="background-image:url('./assets/images/bg22.svg');background-repeat: no-repeat;  background-size: cover;">
    <div class="container align-self-center" data-aos="fade-up" data-aos-delay="200">
      <div class="bg-color-p1 text-light text-center p-5 rounded mx-auto mt-5 w-75 mb-5">
        <h2 class="display-4 fw-bold text-primary">Comentarios</h2>
        <p class="lead">Si tiene un reclamo por favor escribanos recalque cual es su reclamo y le responderemos
          enseguida o puede hacer comentarios de que le parece la pagina cualquier sugerencia sera para mejorarla.</p>
        <div class="mx-auto my-form position-relative d-none d-md-block">
          <input type="text" class="form-control mb-3" placeholder="Escribe aqui">
          <button type="button" class="btn btn-primary position-absolute">Enviar</button>
        </div>
        <div class="d-md-none">
          <input type="text" class="form-control mb-3" placeholder="Correo electronico">
          <button type="button" class="btn btn-primary w-100">Enviar</button>
        </div>
      </div>
      <div class="border-top ">
        <div class="row">
          <div class="col-lg-6 col-md-12 fw-bold bg-color-p1 text-light ">
            <small>Contactos</small>
          </div>
          <div class="col-lg-6 col-md-12 bg-color-p1  ">
            <ul class="list-inline text-lg-end">
              <li class="list-inline-tem ">
                <a href="" class="text-light text-decoration-none fw-bold "><small>Terminos y Condiciones.</small></a>
                <a href="" class="text-light text-decoration-none fw-bold  "><small>Politica de Privacidad.</small></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>