<div id="content">
    <section class="py-3 bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="fw-bold mb-0 ">Tus juegos favoritos </h1>
            <p class="lead text-dark"></p>

          </div>
          <div class="col-lg-3">

          </div>

        </div>

      </div>
      <div class=" container">
        <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://www.youtube.com/embed/VhM3NRu23Sk" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title fw-bold">Cyverpunk 2077</h5>
                <p class="card-text text-dark">Un shooter en primera persona, pero uno distinto a su genero en
                  videojuegos. Ambientado en un estado libre distópico de California.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <small class="text-muted">18.99$</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://www.youtube.com/embed/8a-EObAhYrg" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title fw-bold">Detroit: Become Human</h5>
                <p class="card-text text-dark">Adéntrate en un mundo donde dilemas morales y difíciles decisiones
                  pueden convertir a los esclavos androides en revolucionarios que cambiarán el mundo.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <small class="text-muted">15.70$</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://www.youtube.com/embed/6VXcganpmeI" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title fw-bold">Poppy Playtime</h5>
                <p class="card-text text-dark">Debes mantenerte con vida en esta aventura de terror.
                  Intenta sobrevivir a los juguetes vengativos que te esperan en la fábrica de juguetes abandonada.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  </div>
                  <small class="text-muted">10$</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://www.youtube.com/embed/QBn8ST8rELc" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

              <div class="card-body">
                <h5 class="card-title fw-bold">Marvel Guardians of the Galaxy</h5>
                <p class="card-text text-dark">Es un juego episódico, narrativo y para un solo jugador con una
                  premisa bastante lineal. Está fuertemente basado en misiones y la historia se basa “libremente” en
                  la serie de cómics del mismo nombre.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>

                  </div>
                  <small class="text-muted">35.50$</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://www.youtube.com/embed/g76Zx7zydXQ" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title fw-bold">Jurassic World Evolution 2</h5>
                <p class="card-text text-dark">Es la esperada secuela de Jurassic World
                  Evolution. El juego ofrece una nueva campaña narrativa con las voces de los actores de la
                  franquicia de Jurassic World, crea tu propio parque. </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>

                  </div>
                  <small class="text-muted">48.89$</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm ">
              <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://www.youtube.com/embed/UkP8dOQrIyk" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title fw-bold">Back 4 Blood</h5>
                <p class="card-text text-dark">Los creadores de la aclamada saga de Left 4 Dead presentan Back 4
                  Blood, un emocionante juego de disparos en primera persona cooperativo. Te encuentras en medio de
                  una guerra contra los Infectados.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>

                  </div>
                  <small class="text-muted">60$</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm my-3">
            <iframe class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="https://www.youtube.com/embed/BY9-jWQQHgw" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="card-body">
              <footer class="bg-light text-center text-white">

                <div class="container p-4 pb-0">
                  <h1 class="text-dark fs-4">Redes sociales</h1>
                  <div class="mb-4">
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #3b5998; border-radius: 20px; border-color:#3b5998 ;" href="#!"
                      role="button"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #55acee; border-radius: 20px; border-color: #55acee;" href="#!"
                      role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #dd4b39; border-radius: 20px; border-color:#dd4b39 ;" href="#!"
                      role="button"><i class="fab fa-google"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #ac2bac; border-radius: 20px; border-color:#ac2bac ;" href="#!"
                      role="button"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-primary btn-floating m-1"
                      style="background-color: #0082ca; border-radius: 20px; border-color: #0082ca;" href="#!"
                      role="button"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-floating mb-1"
                      style="background-color: #333333; border-radius: 20px; border-color:#333333 ;" href="#!"
                      role="button"><i class="fab fa-github"></i></a>
                  </div>

                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
