:root{
    --primary:#FF5003;
    --bgSecondary:#eaac8b;
    --dark:#000000;
    --ligth:#fff;
    --bgp1:#000000
}

body{
    
    font-family: proximanova,arial,sans-serif;
    background: 100%;
}
.bg-primary{
    background-color: var(--primary) !important;
}

.bg-color-p1{
    background-color: var(--bgp1) !important;
}

.text-primary{
    color:var(--primary) !important;
}
.btn-primary{
    background-color: var(--primary);
    border-color:var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
}
.img-1{
    background-image: url('/Diseño\ puro\ html-css-boostrap5/assets/images/warning.jpg');
    background-size: cover;
    background-position: center;
}
.img-2{
    background-image: url('/Diseño\ puro\ html-css-boostrap5/assets/images/warning2.png');
    background-size: cover;
    background-position: center;
}
@media (max-width:1920px){
    .container-mobile{
        max-width: 95%;
    }
}