
<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex position-relative d-inline-block">
        <input class="form-control me-2 " type="search" placeholder="Buscar" aria-label="Buscar"
          style="border-radius: 20px; border-color:#FF5003 ;">
        <button class="btn btn-search  position-absolute" type="submit"><i
            class="fas fa-search text-primary"></i></button>
      </form>
      <img src="../assets/images/Control2.png" width="50" height="50" alt="" class="img-fluid ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold me-3" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../assets/images/avatar.png" class="img-fluid raunded-circle me-2 avatar"> Edwin Miranda
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Suscripcion</a></li>
              <li><a class="dropdown-item" href="#">Soporte</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="../index.html">Cerrar Sesion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
