<footer class="bg-light text-center text-white">
    <div class="container p-4 pb-0">
      <div class="mb-4">
        <a class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998; border-radius: 20px; border-color:#3b5998 ;" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee; border-radius: 20px; border-color: #55acee;" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39; border-radius: 20px; border-color:#dd4b39 ;" href="#!" role="button"><i
            class="fab fa-google"></i></a>
        <a class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac; border-radius: 20px; border-color:#ac2bac ;" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>
        <a class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca; border-radius: 20px; border-color: #0082ca;" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-primary btn-floating mb-1"
          style="background-color: #333333; border-radius: 20px; border-color:#333333 ;" href="#!" role="button"><i
            class="fab fa-github"></i></a>
      </div>

    </div>
    <div class="text-center p-3 text-dark" style="background-color: #F1A17E;">
      © 2021 Copyright:
      <a class="text-dark" href="#">Alister-Company</a>
    </div>
  </footer>
