
<div id="sidebar-container" class="bg-color-p1   ">
    <div class="logo  ">
      <a class="navbar-brand fw-bold p-2   d-block p-3 text-primary text-decoration-none border-0 " routerLink="/dashboard/home/"><small class="text-primary fs-4">STORE
          GAMING</small> </a>
    </div>
    <div class="menu ">
      <a routerLink="/dashboard/publications/profile" class="  btn-outline-light d-block p-3 text-primary text-decoration-none border-0 "><i
          class="fas fa-user fa-1x me-2 "></i>Perfil</a>
      <a routerLink="/dashboard/publications/car" class=" btn-outline-light d-block p-3 text-primary text-decoration-none border-0"><i
          class="fas fa-shopping-cart fa-1x me-2 "></i>Carrito</a>
      <a routerLink="/dashboard/publications/stat" class=" btn-outline-light d-block p-3 text-primary text-decoration-none border-0"><i
          class="far fa-chart-bar me-2"></i>Estadisticas</a>
      <a routerLink="/dashboard/publications/oferts" class=" btn-outline-light d-block p-3 text-primary text-decoration-none border-0"><i
          class="fas fa-gem me-2"></i>Ofertas</a>
    </div>
  </div>
