<div id="content">
    <section>
      <div class="container rounded bg-white ">
        <div class="row">
          <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                width="150px" src="/assets/images/avatar.png"><span class="font-weight-bold">Edwin
                Miranda</span><span class="text-black-50">4falister@mail.com</span><span> </span></div>
          </div>
          <div class="col-md-5 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Configuracion de perfil</h4>
              </div>
              <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control"
                    placeholder="nombre" value=""></div>
                <div class="col-md-6"><label class="labels">Apellido</label><input type="text" class="form-control"
                    value="" placeholder="apellido"></div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Numero de telefono</label><input type="text"
                    class="form-control" placeholder="ingresar" value=""></div>
                <div class="col-md-12"><label class="labels">Direccion </label><input type="text"
                    class="form-control" placeholder="ingresar1" value=""></div>
                <div class="col-md-12"><label class="labels">pais</label><input type="text" class="form-control"
                    placeholder="ingresar" value=""></div>
                <div class="col-md-12"><label class="labels">Ciudad</label><input type="text" class="form-control"
                    placeholder="ingresar" value=""></div>
                <div class="col-md-12"><label class="labels">Correo electronico</label><input type="text"
                    class="form-control" placeholder="ingresar" value=""></div>
                <div class="col-md-12"><label class="labels">confirma tu Correo</label><input type="text"
                    class="form-control" placeholder="ingresar correo" value=""></div>

              </div>
              <div class="row mt-3">
                <div class="col-md-6"><label class="labels">Edad</label><input type="text" class="form-control"
                    placeholder="edad" value=""></div>
                <div class="col-md-6"><label class="labels">Sexo</label><input type="text" class="form-control"
                    value="" placeholder="sexo"></div>
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Guardar
                  perfil</button></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Agregar foto de
                  perfil</span><span class="border px-3 p-1 add-experience"><i
                    class="fa fa-plus"></i>&nbsp;Agregar</span></div><br>
              <div class="col-md-12"><label class="labels">Sobre mi</label><input type="text" class="form-control"
                  placeholder="" value=""></div> <br>
              <div class="col-md-12"><label class="labels">Videojuegos favoritos</label><input type="text"
                  class="form-control" placeholder="" value=""></div>
       
