<div id="content">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="fw-bold mb-0 ">Bienvenido Edwin </h1>
            <p class="lead text-dark">Revisa tus Estadisticas Aqui.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-mix">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 d-flex stat my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Ingresos mensuales</h6>
                  <h3 class="font-weight-bold">$3.000</h3>
                  <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle me-1"></i>50.50%</h6>
                </div>
              </div>
              <div class="col-lg-3 d-flex stat my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Ingresos mensuales</h6>
                  <h3 class="font-weight-bold">$3.000</h3>
                  <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle me-1"></i>50.50%</h6>
                </div>
              </div>
              <div class="col-lg-3 d-flex stat my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Ingresos mensuales</h6>
                  <h3 class="font-weight-bold">$3.000</h3>
                  <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle me-1"></i>50.50%</h6>
                </div>
              </div>
              <div class="col-lg-3 d-flex  my-3">
                <div class="mx-auto">
                  <h6 class="text-muted">Ingresos mensuales</h6>
                  <h3 class="font-weight-bold">$3.000</h3>
                  <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle me-1"></i>50.50%</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 my-3">
            <div class="card roundede-0">
              <div class="card-header bg-light mb-0">
                <h6 class="font-weight-bold">Consumo de Video Juegos</h6>
              </div>
              <div class="card-body">
                <canvas id="myChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-4 my-3">
            <div class="card raunded-0">
              <div class="card-header bg-light">
                <h6 class="font-weight-bold mb-0 text-center">Movimientos recientes</h6>
              </div>
              <div class="card-body ">
                <div class="d-flex border-bottom py-2">
                  <div class="me-2 d-flex">
                    <h2 class="align-self-center mb-0 fs-3"><i class="icon ion-md-pricetag"></i></h2>
                  </div>
                  <div class="align-self-center">
                    <h6 class="d-inline-block me-2 mb-0">25$</h6><span class="badge bg-success ">20% de
                      descuento</span>
                    <small class="d-block text-muted ">Fortnite</small>
                  </div>
                </div>
                <div class="d-flex border-bottom py-2">
                  <div class="me-2 d-flex">
                    <h2 class="align-self-center mb-0 fs-3"><i class="icon ion-md-pricetag"></i></h2>
                  </div>
                  <div class="align-self-center">
                    <h6 class="d-inline-block me-2 mb-0">70$</h6><span class="badge bg-success ">15% de
                      descuento</span>
                    <small class="d-block text-muted ">Forza Horizon 5</small>
                  </div>
                </div>
                <div class="d-flex border-bottom py-2">
                  <div class="me-2 d-flex">
                    <h2 class="align-self-center mb-0 fs-3"><i class="icon ion-md-pricetag"></i></h2>
                  </div>
                  <div class="align-self-center">
                    <h6 class="d-inline-block me-2 mb-0">75.5$</h6><span class="badge bg-success ">28% de
                      descuento</span>
                    <small class="d-block text-muted ">Batlefield 2042</small>
                  </div>
                </div>
                <div class="d-flex border-bottom py-2">
                  <div class="me-2 d-flex">
                    <h2 class="align-self-center mb-0 fs-3"><i class="icon ion-md-pricetag"></i></h2>
                  </div>
                  <div class="align-self-center">
                    <h6 class="d-inline-block me-2 mb-0">10$</h6><span class="badge bg-success ">35% de
                      descuento</span>
                    <small class="d-block text-muted ">Rocket League Edition</small>
                  </div>
                </div>
                <div class="d-flex border-bottom py-2 mb-3">
                  <div class="me-2 d-flex">
                    <h2 class="align-self-center mb-0 fs-3"><i class="icon ion-md-pricetag"></i></h2>
                  </div>
                  <div class="align-self-center">
                    <h6 class="d-inline-block me-2 mb-0">39.99$</h6><span class="badge bg-success ">30% de
                      descuento</span>
                    <small class="d-block text-muted ">Tom Clancy's Rainbow Six® Extraction</small>
                  </div>
                </div>
                <button class=" btn btn-primary w-100">Ver todos</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  